.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color:#264653;
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
}

.quote-text {
  font-size: 2rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  color: #2a9d8f;
}